.btnCircle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #023047;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;

    &:hover{
        background-color: #457b9d;
    }

    &:active{
        background-color: #0f4c5c;
    }

    &:focus{
        background-color: #0f4c5c;
    }

    &:disabled{
        background-color: #ccc;
    }

}

.btnContainer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 30px);
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: end;
}

.btnClose{
    border-radius: 10%;
    width: 50px;
    height: 30px;
    background-color: #ef233c;
    border: 1px solid #ccc;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0 3px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    margin-bottom: 15px;

    &:hover{
        background-color: #e63946;
    }

    &:active{
        background-color: #e63946;
    }

    &:focus{
        background-color: #e63946;
    }

    &:disabled{
        background-color: #ccc;
    }
}

.align-end{
    display: flex;
    justify-content: end;
}

.calendarContainer{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e9ecef;
    position: fixed;
    width: auto;
    height: 25rem;
    padding: 15px;
    overflow: auto;
    display: flex;
    justify-content: end;
    /* z-index: 99999; */
    bottom: 80px;
    right: 10px;
    /* background-color: #e9ecef; */
}

.row{
    position: relative;
    max-width: 100%;
    height: 150vh;
    padding: 20px;
    background-color: #023047;
    z-index: -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.module{
    width: 400px;
    height: 300px;
    background-color: #fff;
    margin: 15px;
    border-radius: 8px;
}